body{
    color: #202020;
    font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}

header{
    position: relative;
    background-color: #202020;
    padding-bottom: 10px;
}
header .container{
    margin: 0 auto;
    padding: 10px 0px 10px 0px;

}

.navibar{
    position: absolute;
    bottom: 0;
    right:0;
    padding: 10px 0px 10px 0px;
    margin-right: 20px;

}

.navibar ul{
    font-size: 17px;
}

.navibar a{
    color:#fff;
}

.navibar ul li{
    display: inline;
    margin-left: 20px;
    
}

.logotipo{
    padding-top: 10px;
    color:#fff;
    font-size: 25px;
    margin-left: 15px;
    font-weight: 800;
}
aside{
    display: block;
    width: 15%;
    height: 100%;
    padding-left: 15px;
    right: 0;
    float:left;
    background-color: #5f021f;
}

.verticalBar a{
    color: #fff;
    margin-left: 10px;

}

.verticalBar ul li{
    margin-top: 15px;
}

footer{
    position: absolute;
    display: block;
    background-color:#202020;
    padding: 10px;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;


}